
.discordlogo {
    width: 100px;
    margin: 2rem;
    animation-name: animatedSquare;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

.discordlogo:hover {
    animation-play-state: running;
}

.animated { 
    animation-duration: 0.5s;
    animation-name: animatedSquare;
     animation-iteration-count: infinite;
    animation-play-state: paused;
}
    
 /* The animation code */
 @keyframes animatedSquare {
    0%   {border-radius: 0%;}
    10% {border-radius: 50%;
    background-color: blueviolet;}
    20%  {border-radius: 100%;
          transform: rotate(90deg);}
    50%  {background-color: blue;
          transform: rotate(180deg);}
    100% {background-color: green;
          transform: rotate(360deg);}
    }