
.discordlogo {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    width: 50px;
}

.discordlogo:hover {
    transform: rotate(360deg);
    animation-name: revertAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
    
 /* The animation code */
 @keyframes revertAnimation {
    0% {
      transform: rotate(360deg);
      background-color: blueviolet;
    }
    100% {
      transform: rotate(0deg);
      background-color: coral;
    }
  }
